/* for general sanity */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
	padding: 0;

	/* not strictly needed, but makes mobile behavior nicer when you scroll to the bottom */
	margin-bottom: 200px;
}

#loading {
	margin: 10px;
	text-align: center;
}

#content {
	display: none;
	margin: auto;
}

/* Style for a route header */
.route {
	display: block;
	margin-top: 5px;
	padding: 5px 0 5px 0; 
	text-align: center;
	text-decoration: none;
	background-color: lightslategray;
	color: white;
}

#buses {
	/* Offset the top to sit below the route header */
	padding-top: 40px;
}

.vehicleInfo {
	margin: 10px auto 0px auto;
	padding: 5px;
	background-color: lightgray;
	text-align: center;
}

/* For wide screens we use the full width of the screen */
@media only screen and (min-width: 750px) {
	body {
		font-size: 14px;
	}
	
	/* Show the routes as boxes flowing across the page */
	#routes {
		text-align: center;
	}
	.route {
		display: inline-block;
		margin-left: 5px;
		margin-right: 5px;
		padding-left: 5px;
		padding-right: 5px;
	}

	/* Show each bus as a box, flowed to fit the page */
	#buses {
		text-align: center;
	}
	.vehicleInfo {
		display: inline-block;
		margin: 10px 5px 0px 5px;
		width: 360px;
	}
}

/*
The route header when a specific route is selected; the bar is pinned to the
top and the rest of the content is behind it. This comes after the media query
for wide displays because it needs to override some of the styles in the 'route'
class.
*/
.routeTopBar {
	position: fixed;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	left: 0;
	top: 0;
	width: 100%;
}

p.busHeader {
	margin: 1px;
	text-align: center;
	font-weight: bold;
}

p.busStatus {
	margin: 1px;
	text-align: center;
}

p.busFooter {
	margin: 1px;
	text-align: center;
	font-size: smaller;
}

.staleData {
	color: red;
	font-weight: bold;
}

img.busMap {
	margin-top: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: lightslategray;
}
