/* for general sanity */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
	padding: 0;
}

#loading {
	margin: 10px;
	text-align: center;
}

#content {
	display: none;
	margin: auto;
}

#routes {
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
	background-color: lightslategray;
	color: white;
}

div.vehicleInfo {
	margin: auto;
	margin-bottom: 10px;
	padding: 5px;
	background-color: lightgray;
	text-align: center;
}

@media only screen and (min-width: 800px) {
	#buses {
		text-align: center;
	}

	/* Show each bus as a box, flowed to fit the page */
	div.vehicleInfo {
		display: inline-block;
		width: 360px;
		margin: 10px;
	}
}

p.busHeader {
	margin: 1px;
	text-align: center;
	font-weight: bold;
}

p.busStatus {
	margin: 1px;
	text-align: center;
}

p.busFooter {
	margin: 1px;
	text-align: center;
	font-size: smaller;
}

img.busMap {
	margin-top: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: lightslategray;
}
